.subscribe-message {
	margin-top: 1rem;
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.subscribe-message--error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.subscribe-message--success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}
